#gameboard {
  width: 320px;
  height: 320px;
  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 40px;
  width: 40px;
}

.beige {
  background-color: rgb(236, 236, 207);
}

.brown {
  background-color: rgb(126, 38, 38);
}

.square svg {
  height: 30px;
  width: 30px;
  margin: 5px;
  position: relative;
  z-index: -9;
}

.path {
  position: relative;
  z-index: -10;
}

.piece {
  position: relative;
  z-index: 9;
}

.black {
  fill: black;
  stroke: white;
  stroke-width: 1%;
}
.white {
  fill: rgb(255, 255, 255);
  stroke: black;
  stroke-width: 1%;
}
